<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Notiz erstellen</title>
</head>
<body>
    <h1>Notiz erstellen</h1>
    <form action="/home/Notizen" method="post">
        {{ csrfField() }}
        <label name="title">Titel:</label><br>
        <input type="text" id="title" name="title"><br>
        <label name="inhalt">Inhalt:</label><br>
        <textarea id="content" name="inhalt"></textarea><br>
        <input type="submit" value="Speichern">
    </form>
</body>
</html>