<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registrieren</title>
    <style>   
        /* ... Ihr bisheriger CSS-Code ... */
    </style>
</head>
<body>
    <h1> Hier können Sie sich registrieren </h1> 
    <form action="/registrieren" method="post">
        <label for="username">Benutzername:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br>
        <label for="password">Passwort:</label><br>
        <input type="password" id="password" name="password"><br>
        <label for="additionalText">Zusätzlicher Text:</label><br>
        <input type="text" id="additionalText" name="additionalText"><br>
        <input type="submit" value="Registrieren" style="margin-top: 20px;">
    </form>
</body>
</html>